# Ambiente
NODE_ENV=development

# Database
DB_USER=adorne
DB_PASSWORD=adornesemijoias2024
DB_NAME=adornesemijoias
DB_PORT=5432

# Backend
BACKEND_PORT=3001
JWT_SECRET=your-super-secret-jwt-key-change-in-production
ADMIN_PASSWORD=adornesemijoias2024
CORS_ORIGIN=http://localhost:3000

# Frontend
FRONTEND_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_WHATSAPP_NUMBER=5581995254025
NEXT_PUBLIC_SITE_URL=http://localhost:3000

